*{
  font-family:Arial, Helvetica, sans-serif
}

.corpo {
  padding: 10px;
  margin:10px;
  background-color:rgb(179, 201, 204);
  
}


.titulo {
    font-size: 20px;            
  display: inline-block;
  padding:5px;
  margin:5px;
font-weight:bold;
 color:black;
 height: 35px;
 position:relative;
 left: 580px;
 
 
}

.tabela {
  font-size:18px;
  border:darkslategrey solid 3px;
  padding:5px;
  margin:5px;
  color:black;
  background-color:floralwhite;
  border:darkslategrey solid 4px;
  border-radius: 5px;
  position:relative;
  left:75px;
  }

.container-botoes {
    padding: 5px;
    margin:5px;
    height:25px;
    display:flex;
    gap: 10px;
    left:520px;
    position:relative;
    font-weight:bold;
    cursor:pointer;
    }
 
.container-footer {
  font-size:14px;
    padding:5px;
  margin:5px;
    font-weight:bold;
  color:black;
  display:flex;
  gap: 10px;
  }

.select {
    color:black;
    background-color:floralwhite;
    width:auto;;
    height: 15px;
    font-weight:bold;
    display:inline-block;
 }

 .filiais {
  border:darkslategrey solid 5px;
  color:black;
  background-color:floralwhite;
  border:black solid 3px;
  font-weight:bold;
  height: 5px;
  position:relative;
  left: 530px;
 }

 .vazia {
  width: 1000px;
  height: 350px;
  background-color:floralwhite;
  position:relative;
  left: 180px;
 }

 .menu-principal {
  list-style: none;
  background-color:black;
  display:flex;
  justify-content:center;
 }

 .menu-principalli {
  display: inline-block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
 }

 .menu-principal > li > a:hover {
  background-color:gold;
 }

 .dropdown {
  padding:5px;
  margin:5px;
  color:black;
  background-color:floralwhite;
  position: relative;
}
 
  footer {
    font-weight:bold;
  color:black;
  }

.dropdown-conteudo {
  padding:5px;
  margin:5px;
  display: none; 
  position: absolute; /* Faz a caixinha flutuar por cima do resto do site */
  background-color: floralwhite;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Sombra para dar efeito de relevo */
  list-style: none;
  z-index: 1;
}

/* Estilo dos links que estão DENTRO do submenu */
.dropdown-conteudo a {
  color:black;
  padding: 12px 16px; /* Espaçamento interno de cada opção */
  text-decoration: none;
  display: block; /* Faz cada opção ocupar a linha inteira, um embaixo do outro */
  text-align: left;
}

/* Efeito de hover dentro do submenu */
.dropdown-conteudo a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-conteudo {
  display: block;
}
